<html>
<head>
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="/authentication" method="POST" >
        <img src="/images/logo.png" width=200px>
        <input type="text" placeholder="username" name="username"/>
        <input type="password" placeholder="password" name="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
  <script src="/javascripts/style.js"></script>
</body>

</html>
