<html>
<head>
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="/authentication" method="POST" >
        Selamat bergabung,<br>
        <%=token %>
      </form>
    </div>
  </div>
  <script src="/javascripts/style.js"></script>
</body>

</html>
